/rhombus/static/tailwind.css linguist-generated=true -diff
/rhombus/static/app.js linguist-generated=true -diff
/rhombus-cli/rhombus-api-client/**/* linguist-generated=true -diff
Cargo.lock -diff
*.sql linguist-detectable=true linguist-language=sql
*.mjs linguist-language=TypeScript
